---
Checks: '
  -*,
  modernize-pass-by-value,
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-unused-variable,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!(.*\/)?(build|thirdparty)\/)'
CheckOptions:
  - key:             modernize-pass-by-value.IncludeStyle
    value:           google
ExtraArgs:
  - '-Wunused-variable'
